<div>
  <h2 class="d-inline">My Cart</h2>
  <h3>Close</h3>
</div>
<hr>
<div class="row">
  <img class="col-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fimage&psig=AOvVaw31QO-A8LaktTh75wBeQ_tN&ust=1678130688044000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCIiwjI7Cxf0CFQAAAAAdAAAAABAE"
  width="150" height="150">
  <div class="col-6">
    <h2>XKK-DVTH-003</h2>
    <h2>BEIGE</h2>
    <h2>LE 459.00</h2>
    <div>
      <button type="button" class="btn btn-light">-</button>
      <input type="text" class="text-center" value="1">
      <button type="button" class="btn btn-light">+</button>
    </div>
  </div>
</div>
