<ng-container>
  <div class="row my-3">
    <p class="col text-start fs-6 fw-normal">{{"cart.My Cart"|translate}}</p>
    <p class="col-2 fs-6 fw-normal pointer">{{"cart.Close"|translate}}</p>
  </div>
  <hr>
  <div class="row">
    <img class="col-3" src="https://cdn.shopify.com/s/files/1/0499/3079/7217/products/WAH-DJTT-003-TAUPE_1_900x.jpg?v=1666519411" alt=""  width="150" height="150">
    <div class="col text-center">
      <p>XKK-DVTH-003</p>
      <p>BEIGE</p>
      <p>LE 459.00</p>
      <div class="btn-group col-6" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-white border border-dark">-</button>
        <input type="text" class="bg-white text-center border-1 w-25" value="1">
        <button type="button" class="btn btn-white border border-dark">+</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-4">
    <p class="col">{{"cart.Order"|translate}}</p>
    <p class="col-1 pointer" (click)="setOrderSpecial()">+</p>
    <textarea class="form-control mx-2" id="floatingTextarea" style="height: 200px" *ngIf="isOpen"></textarea>
  </div>
  <hr>
  <div class="pt-3">
    <div class="row">
      <p class="col">{{"cart.Subtotal"|translate}}</p>
      <p class="col-3">LE 649.00</p>
    </div>
    <div class="row">
      <p class="col">{{"cart.Shipping"|translate}}</p>
      <p class="col-6 ps-4">{{"cart.Calculated"|translate}}</p>
    </div>
    <div class="row mt-3">
      <p class="col fs-5">{{"cart.Total"|translate}}</p>
      <p class="col-3 fs-6 pe-2">LE 649.00</p>
    </div>
      <button class="btn w-100 mb-3 px-3 py-2 checkout" (click)="GoToCheckout()">Check Out → </button>
      <hr>
  </div>
</ng-container>


<ng-container *ngIf="false">
  <section>
    <div class="row my-3">
      <p class="col text-start fs-6 fw-normal">{{"cart.My Cart"|translate}}</p>
      <p class="col-2 fs-6 fw-normal">{{"cart.Close"|translate}}</p>
    </div>
    <hr>
    <div class="m-2">{{"cart.Yourcart"|translate}}</div>
  </section>
</ng-container>

