<section class="mx-md-2" *ngIf="products.length>0">
  <div class="row my-3">
    <p class="col text-start fs-6 fw-normal">{{"cart.My Cart"|translate}}</p>
    <!-- <p class="col-2 fs-6 fw-normal pointer" (click)="CloseCartFun()">{{"cart.Close"|translate}}</p> -->
    <p class="col-2 fs-6 fw-normal pointer" data-bs-dismiss="offcanvas">{{"cart.Close"|translate}}</p>
    
  </div>
  <hr>
  <ng-container *ngFor="let product of products">
    <div class="row mb-3" [hidden]="count<1">
      <img class="col-3" src="{{product.imgs[0]}}" alt="" width="150" height="150">
      <div class="col text-center">
        <p>{{product.name}}</p>
        <p>BEIGE</p>
        <p>LE {{product.new_price}}.00</p>
        <div class="btn-group col-6" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-white border border-dark" (click)="decreaseCount()">-</button>
          <input type="text" class="bg-white text-center border-1 w-25" value={{count}}>
          <button type="button" class="btn btn-white border border-dark" (click)="increaseCount()">+</button>
        </div>
      </div>
    </div>
  </ng-container>
  <hr>
  <div class="row mt-4">
    <p class="col">{{"cart.Order"|translate}}</p>
    <p class="col-1 pointer" (click)="setOrderSpecial()">+</p>
    <textarea class="form-control mx-2" id="floatingTextarea" style="height: 200px" *ngIf="isOpen"></textarea>
  </div>
  <hr>
  <div class="pt-3">
    <div class="row">
      <p class="col">{{"cart.Subtotal"|translate}}</p>
      <p class="col-3">LE {{cartService.getTotalPrice()*count}}.00</p>
    </div>
    <div class="row">
      <p class="col">{{"cart.Shipping"|translate}}</p>
      <p class="col-6 ps-4">{{"cart.Calculated"|translate}}</p>
    </div>
    <div class="row mt-3">

      <p class="col fs-5">{{"cart.Total"|translate}}</p>
      <p class="col-3 fs-6 pe-2">LE {{cartService.getTotalPrice()*count}}.00</p>
    </div>
    <ng-container>
      <button class="btn w-100 mb-3 px-3 py-2 checkout" (click)="GoToCheckout()">Check Out → </button>
    </ng-container>
    <hr>
  </div>
</section>


<section class="mx-md-2" *ngIf="products.length==0">
  <section>
    <div class="row my-3">
      <p class="col text-start fs-6 fw-normal">{{"cart.My Cart"|translate}}</p>
      <!-- <p class="col-2 fs-6 fw-normal pointer" (click)="CloseCartFun()">{{"cart.Close"|translate}}</p> -->
      <p class="col-2 fs-6 fw-normal pointer" data-bs-dismiss="offcanvas">{{"cart.Close"|translate}}</p>
    </div>
    <hr>
    <div class="m-2">{{"Your cart is currently empty."|translate}}</div>
  </section>
</section>

