<footer class="footer row ">
    <div class="footer_container ">

        <div class=" row m-2 mb-5">

            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>POLICY</h4>
                <hr>
                <ul>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>ABOUT US</h4>
                <hr>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Store Locations</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>CONNECT WITH US</h4>
                <hr>
                <span>Enter your email to sign up to our newsletter: </span>
                <span>
                    <input class="w-50 h-23" type="text" id="join" placeholder="join our mailing list">
                </span>
                <button type="button" class="btn btn-dark w-5 h-3">Join</button>
            </div>

        </div>
        <hr>

        <div class="social-links m-3 p-3 col">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>

        </div>
        <p class="m-3">&#169;2023 Dejavu</p>
    </div>

</footer>
