<section class="container-fluid">
 <footer class="footer row ">
    <div class="footer_container ">

        <div class=" row m-2 mb-5" >

            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>{{"Fotter.POLICY"|translate}}</h4>
                <hr>
                <ul>
                    <li><a href="#">{{"Fotter.Privacy"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Terms"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Refund"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Refund"|translate}}</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>{{"Fotter.ABOUT"|translate}}</h4>
                <hr>
                <ul>
                    <li><a href="#">{{"Fotter.FAQ"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Locations"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Search"|translate}}</a></li>
                    <li><a href="#">{{"Fotter.Contact"|translate}}</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg ms-2">
                <h4>{{"Fotter.CONNECTUS"|translate}}</h4>
                <hr>
                <span>{{"Fotter.title"|translate}} </span>
                <span>
                    <input class="w-50 h-23" type="text" id="join" >
                </span>
                <button type="button" class="btn btn-dark w-5 h-3">{{"Fotter.btn"|translate}}</button>
            </div>

        </div>
        <hr>

        <div class="social-links m-3 p-3 col">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>

        </div>
        <p class="m-3">&#169;2023 {{"Fotter.Dejavu"|translate}}</p>
    </div>

</footer>   
</section>

