
<header class="sticky-top  bg-body-tertiary " >

    <nav class="navbar navbar-expand-lg  bg-body-tertiary  fixd-width m-auto border-bottom border-1  " >
        <div class="container-fluid  ">
            <article class="row  row-cols-3 justify-content-between col-12 align-items-lg-center  ">

                <div class="col-md-4">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                        <ul class="navbar-nav  mb-2 mb-lg-0 col-md-5 m-3">
                            <li class="nav-item">


                                <a class="nav-link active" aria-current="page" href="">{{"headr.Home"|translate}}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active"[routerLink]="['/products','nuWveyFOC62RoDdaFbqK']"> {{"headr.Offers"|translate}}</a>
                            </li>
                            <div id="drop1" class="nav-item dropdown  ">
                                <a class="nav-link active dropdown-toggle" href="" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{"headr.Shoes"|translate}}
                                </a>

                                <ul  *ngIf="subCategoryofShose!=undefined" class="dropdown-menu rounded-0  " >
                                    <li *ngFor="let subcat of subCategoryofShose" >
                                        <a class="dropdown-item"[routerLink]="['products', subcat.id]"
                                         >{{lang=='ar'?subcat.name_ar:subcat.name}}</a>

                                    </li>

                                </ul>
                            </div>
                            <div class="nav-item dropdown ">
                                <a class="nav-link active dropdown-toggle" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{"headr.Bags"|translate}}
                                </a>

                                <ul  *ngIf="subCategoryofBags!=undefined" class="dropdown-menu rounded-0 ">
                                    <li *ngFor="let subcat of subCategoryofBags" >
                                        <a class="dropdown-item " [routerLink]="['products', subcat.id]">{{lang=='ar'?subcat.name_ar:subcat.name}}</a>

                                    </li>

                                </ul>
                            </div>

                        </ul>
                    </div>

                </div>

                <div class="head-img text-center col-md-4	">
                    <img src="assets/images/logo.avif" style="width: 150px;height: 50px;">
                </div>

                <div class="col-md-4 mt-4">
                    <ul class="navbar-nav flex-row justify-content-end  ">

                        <li role="button" class="d-none d-lg-inline " (click)="showSearch()">
                                <i class="fa-solid fa-magnifying-glass "></i>
                        </li>

                        <li class="d-none d-lg-inline mx-3" *ngIf ="authService.currentuser$  | async as user">
                            <a [routerLink]="['login']" routerLinkActive="active" class="text-dark"  (click)="logout()">Logout
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </li>
                        <li class="d-none d-lg-inline mx-3" *ngIf="!isUser">
                            <a  [routerLink]="['login']" routerLinkActive="active" class="text-dark ">
                                <i class="fa-regular fa-user "></i></a>
                        </li>
                       
                        <li>
                              <i role="button" class="fa-solid fa-cart-shopping" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_cart" aria-controls="offcanvasRight" ></i>

                            <!-- <a class="text-dark ">
                                <i class="fa-solid fa-cart-shopping" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="OpenCartFun()"></i>
                            </a> -->
                        </li>

                        <li class="d-none d-lg-inline px-2">{{cartItems}}</li>

                        <li class="d-none d-lg-inline px-2">{{"headr.LE"|translate}} {{cartService.getTotalPrice()}}.00 </li>
                        <select name="" id="" class="d-none d-lg-inline col-md-1" >
                            
                            <option value="en">{{"headr.EN"|translate}}</option>
                            <option value="ar" >{{"headr.AR"|translate}}</option>


                        </select>


                    </ul>


                  </div>
            </article>

        </div>

    </nav>
    <div class=" pt-1 pb-3 bg-body-tertiary" *ngIf="isSearch" >
        <div class="input-group border  w-50  mx-auto border-1 border-secondary  shadow   p-1  ">
            <input type="text" #valueOfSearch class="shadow-none form-control border-0 bg-body-tertiary rounded-0 "
                placeholder='{{"Search.Search"|translate}}' >
            <div class="input-group-append">
                <button class="btn btn-dark rounded-0" type="button"
                 (click)="goToSearch(valueOfSearch.value)"  >{{"Search.Search"|translate}}</button>
            </div>
        </div>


    </div>


</header>

<app-cart  class="offcanvas offcanvas-end" data-bs-scroll="true"  id="offcanvas_cart" > </app-cart>