<section  >
  <app-navbar></app-navbar>
  <main class=" d-block  d-md-flex  justify-content-center"  *ngIf="product_details!=undefined">
    <!-- slider -->

    <aside class="col-md-5  pe-4 me-3">

      <!-- <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" alt="" > -->
      <div class="d-flex justify-content-between">

        <div class="position-relative">
          <button class="carousel-control-prev position-absolute  top-0 start-0 ms-1 mt-5  " type="button"
            data-bs-target="#mainSlider" data-bs-slide="prev">
            <span class="bg-black p-1"> <span class="carousel-control-prev-icon bg-black "
                aria-hidden="true"></span></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next position-absolute  top-0 start-0 ms-5 mt-5" type="button"
            data-bs-target="#mainSlider" data-bs-slide="next">
            <span class="bg-black p-1"> <span class="carousel-control-next-icon bg-black   "
                aria-hidden="true"></span></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div>


          `<!-- Button trigger modal -->

          <button type="button" id="zoom" class="btn btn-secondary rounded-circle  p-3 mt-4 " data-bs-toggle="modal"
            data-bs-target="#zoomModal">
            <i class="bi bi-zoom-in"></i>
                 </button>

          <!-- Modal -->
          <div class="modal fade  " id="zoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog   modal-lg ">
              <div class="modal-content ">
                <!-- <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div> -->
                <div class="modal-body">

                  <div class=''>
                    <button class="carousel-control-prev " type="button" data-bs-target="#modalSlider"
                      data-bs-slide="prev">
                      <span class="bg-black p-1"> <span class="carousel-control-prev-icon bg-black "
                          aria-hidden="true"></span></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next " type="button" data-bs-target="#modalSlider"
                      data-bs-slide="next">
                      <span class="bg-black p-1"> <span class="carousel-control-next-icon bg-black   "
                          aria-hidden="true"></span></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <ng-container *ngIf="product_details.imgs[0]!=undefined">
                  <div id="modalSlider" class="carousel slide  ">
                    <div class="carousel-inner">

                      <div class="carousel-item active ">
                        <ng-container *ngIf="product_details">
                          <img [src]="product_details.imgs[0]" class="d-block w-100" alt="...">
                        </ng-container>

                      </div>
                      <ng-container *ngFor=" let img of product_details?.imgs">
                        <div class="carousel-item">
                          <img [src]="img" class="d-block w-100 " alt="...">
                        </div>
                      </ng-container>


                    </div>
                  </div>
                </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div id="mainSlider" class="carousel slide  ">


        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img id="imgSlider" [src]="product_details.imgs[0]" class="d-block mw-100" alt="...">
          </div>
          <!--Edit-->
          <div *ngFor="let img of product_details.imgs" class="carousel-item">
            <img [src]="img" class="d-block mw-100 " alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="d-block mw-100" alt="...">
          </div> -->
        </div>

      </div>
      <!-- small slider -->

      <article class="  d-none  d-lg-flex  mx-5 me-3 overflow-hidden ">

        <div  *ngFor="let img of product_details.imgs" class="col-2">
          <img class="w-100 p-2" [src]="img" onclick="showimg(event)" alt="">
        </div>
<!-- edit
        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BLACK_2_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BLACK_3_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BLACK_4_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BROWN_1_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BROWN_2_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BROWN_3_900x.webp" onclick="showimg(event)" alt="">
        </div>

        <div class="col-2">
          <img class="w-100 p-2" src="./image/GER-DVTH-024-BROWN_4_900x.webp" onclick="showimg(event)" alt="">
        </div> -->


        <!-- <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active w-25">
                        <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item  w-25">
                        <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item   w-25">
                        <img src="/image/GER-DVTH-024-BLACK_3_900x.webp" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon bg-black " aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->

      </article>

    </aside>



    <!-- side right -->
    <aside class="col-md-6 mt-5">
      <div class="d-flex justify-content-center justify-content-md-start p-3 ps-md-0 mb-4">
        <h4 class="fw-normal  text-center text-md-start mb-4">

          <span
            class=" border-bottom border-4 border-dark pb-2 mb-5 ">{{lang=='ar'?product_details.name_ar:product_details.name}}</span>
          </h4>
      </div>

      <!--shwo product_details-->
      <div >
        <ng-container *ngIf="product_details">
          <p  class="fs-7"> {{lang=='ar'?product_details.details_ar[0]:product_details.details[0]}}</p>

        </ng-container>


        <ng-container *ngIf="lang=='ar'" >

          <ul *ngFor="let dis of product_details.details_ar,let i=index">
            <ng-container *ngIf="i>0&&i<=7">
              <li class="margin-left fs-7 ">{{dis}}</li>
            </ng-container>
          </ul>
        </ng-container>
        <ng-container *ngIf="lang=='en'" >
          <ul *ngFor="let dis of product_details.details,let i=index">
            <ng-container *ngIf="i>0&&i<=7">
              <li class="margin-left fs-7 ">{{dis}}</li>
            </ng-container>
          </ul>
        </ng-container>



      </div>

      <div
        class="mt-5 mb-3 shadow-sm border border-1 fs-8 mx-4 lh-sm p-1 col-10 col-sm-10  col-md-8   col-lg-10   col-xl-8 rounded-2 d-flex ">

        <a href="#" class="text-black text-decoration-none">
          <div class="col-9">
            <div>
              <span>{{"SmallFoor.pay"|translate}}</span>
              <strong class="text-danger "> 174.75 EGP </strong>
              <span>{{"SmallFoor.tit"|translate}}</span>
            </div>
            <div>
              <span class=" fw-bold">{{"SmallFoor.poster"|translate}}</span>
              <a href="#" class="text-black fs-7">{{"SmallFoor.learn"|translate}}</a>
            </div>
            <span class="fs-7">{{"SmallFoor.t1"|translate}}</span>
          </div>
          <div class="my-auto   p-2">
            <img class="w-20" src="assets/imges/sympl-logo.svg" alt="" srcset="">
          </div>
        </a>

      </div>
      <div>
        <span class="text-danger fs-5 ">{{product_details.new_price |currency |Egypt}}</span>
        <span class="text-decoration-line-through">{{product_details.old_price |currency |Egypt}}</span>
      </div>

      <div class="  text-center text-md-start">

        <div class=" mt-3">




          <ng-container *ngIf="lang=='en'">
            <h5 class="d-flex  justify-content-center justify-content-md-start p-1 ps-md-0 ">{{"SmallFoor.Color"|translate}}</h5>
            <div class="d-flex  justify-content-center justify-content-md-start p-3 ps-md-0 ">


              <!--LOOP OF COLORS-->
              <div *ngFor="let color of  product_details.colors | keyvalue,let i=index" class="col-1 mx-2 ">
                {{color.key}}
                <img class="w-100 p-0 border" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip" [title]="color.key" [src]="imges[i]" [alt]="color.key">
              </div>

            </div>

          </ng-container>


          <ng-container *ngIf="lang=='ar'">
            <h5 class="d-flex  justify-content-center justify-content-md-start p-1 ps-md-0 ">{{"SmallFoor.Color"|translate}}</h5>            <div class="d-flex  justify-content-center justify-content-md-start p-3 ps-md-0 ">

              <!--LOOP OF COLORS-->
              <div *ngFor="let color of  product_details.colors_ar | keyvalue,let i=index" class="col-1 mx-2 ">
                {{color.key}}
                <img class="w-100 p-0 border" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip" [title]="color.key" [src]="imges[i]" [alt]="color.key">
              </div>

            </div>

          </ng-container>



        </div>



        <!-- size-->

          <h5 class="d-flex  justify-content-center justify-content-md-start p-1 ps-md-0 ">{{"SmallFoor.Size"|translate}} </h5>




        <div class="d-flex justify-content-center flex-wrap p-2 justify-content-md-start p-2 ">

          <div *ngFor="let siz of  product_details.size | keyvalue"
            class="border shadow-sm  m-1 ms-0   px-3 py-2 position-relative  ">
            {{siz.key}}
            <!-- <img class="position-absolute top-0 start-0" src="./image/soldout.webp " width="83%"> -->
          </div>
        </div>
        <!-- quntity-->
        <h5 class="d-flex  justify-content-center justify-content-md-start p-1 ps-md-0 ">{{"SmallFoor.Quantity"|translate}} </h5>

        <div class="d-flex  justify-content-center justify-content-md-start p-3 ps-md-0">

          <span class="downe">-</span>
          <input min="1" type="text" name="quantity" class="product-quantity" value="1" [max]="10">
          <span class="up">+</span>
        </div>
      </div>
      <div class="my-3 mx-2"  >

        <button
        class=" btn btn-warning bg-first rounded-1  col-12  col-md-10  col-lg-8 col-xl-5   py-3 text-white  btncart" (click)="addtocart(product_details)">
        {{"SmallFoor.car"|translate}}</button>

      </div>
      <div class="mx-2">
        <button  class="btn btn-dark rounded-1 col-12  col-md-10  col-lg-8 col-xl-5   py-3 text-white ">
          {{"SmallFoor.car"|translate}}</button>
      </div>

    </aside>
  </main>




 <!--  <div class=" text-center mt-5 mb-4">
    <h2>You may also like</h2>
  </div>
  <section class="container-fluid text-center my-5  px-5 ">
    <section class="row row-cols-2  row-cols-md-4  gx-2 px-5 ">

      <article class="col">

        <div class="position-relative">
          <span
            class="position-absolute top-0 end-0  p-2 bg-danger border border-light rounded-circle fs-4 fw-semibold text-white">30%</span>
        </div>

        <a href="" class="nav-link">
          <div>
            <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" class="img-fluid ">
          </div>


          <div>
            <span class="h5"> GPS-DVTH-043</span>
          </div>
        </a>
        <div>
          <span class="text-danger fs-5 ">LE 699.00</span>
          <span class="text-decoration-line-through"></span>
        </div>

        <div>
          <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2"
            alt="">
        </div>

      </article>

      <article class="col">

        <div class="position-relative">
          <span
            class="position-absolute top-0 end-0  p-2 bg-danger border border-light rounded-circle fs-4 fw-semibold text-white">30%</span>
        </div>

        <a href="" class="nav-link">
          <div>
            <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" class="img-fluid ">
          </div>


          <div>
            <span class="h5"> GPS-DVTH-043</span>
          </div>
        </a>
        <div>
          <span class="text-danger fs-5 ">LE 699.00</span>
          <span class="text-decoration-line-through">LE 999.00</span>
        </div>

        <div>
          <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2"
            alt="">
        </div>

      </article>

      <article class="col">

        <div class="position-relative">
          <span
            class="position-absolute top-0 end-0  p-2 bg-danger border border-light rounded-circle fs-4 fw-semibold text-white">30%</span>
        </div>

        <a href="" class="nav-link">
          <div>
            <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" class="img-fluid ">
          </div>


          <div>
            <span class="h5"> GPS-DVTH-043</span>
          </div>
        </a>
        <div>
          <span class="text-danger fs-5 ">LE 699.00</span>
          <span class="text-decoration-line-through">LE 999.00</span>
        </div>

        <div>
          <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2"
            alt="">
        </div>

      </article>

      <article class="col">

        <div class="position-relative">
          <span
            class="position-absolute top-0 end-0  p-2 bg-danger border border-light rounded-circle fs-4 fw-semibold text-white">30%</span>
        </div>

        <a href="" class="nav-link">
          <div>
            <img src="./image/GER-DVTH-024-BROWN_1_900x.webp" class="img-fluid ">
          </div>


          <div>
            <span class="h5"> GPS-DVTH-043</span>
          </div>
        </a>
        <div>
          <span class="text-danger fs-5 ">LE 699.00</span>
          <span class="text-decoration-line-through">LE 999.00</span>
        </div>

        <div>
          <img src="./image/GER-DVTH-024-BLACK_1_900x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2"
            alt="">
        </div>

      </article>

    </section>

  </section> -->


</section>
