<div>
  <a href="#" style="color: black">{{"signin.Home"|translate}} > </a>

  <a>{{"signin.ACCOUNT"|translate}}</a>
</div>


<div id="all" class="col">

<div>



<div id="signup" class="col-sm-2">
  
  <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm)">

    <h3>{{"signin.CreateAccount"|translate}}</h3>
      <div class=" mb-3  p-4 mb-3">
          <div class="mb-3 p-1">
            <label for="exampleFormControlInput" class="form-label"
              >{{"signin.Firstname"|translate}} </label
            >
            <input
              formControlName="firstname"
              type="firstname"
              class="form-control"
              id="exampleFormControlInput"
              
            />
            <div class="alert alert-danger"
            [hidden]="firstname?.valid || firstname?.untouched"
           
          >
        
            <small *ngIf="firstname?.errors?.['required']"
              >{{"signin.firsrreq"|translate}}!
            </small>  
<!-- <div class="alert alert-danger"
          [hidden]="firstname?.valid || firstname?.untouched">
          At least 8 characters
          </div> -->
          <!-- <small *ngIf="firstname?.errors?.['minlength']"
          > At least 8 characters{{"signin.firsrreq"|translate}}! 
        </small>  -->
       
          </div>
          
</div>
  
          <div class="mb-3 p-1">
            <label for="exampleFormControlInput2" class="form-label"
              >{{"signin.Lastname"|translate}}</label
            >
            <input
            formControlName="lastname"
              type="lastname"
              class="form-control"
              id="exampleFormControlInput2"
           
            />
            <div
                    class="alert alert-danger"
                    [hidden]="lastname?.valid || lastname?.untouched"
                  >
                    <small *ngIf="lastname?.errors?.['required']"
                      >{{"signin.lastsrreq"|translate}}!
                    </small>
                    <!-- <small *ngIf="lastname?.errors?.['minlength']"
                    > At least 8 characters {{"signin.lastsrreq"|translate}}!
                  </small> -->
       
          </div>
  
          <div class="mb-3 p-1">
            <label for="exampleFormControlInput3" class="form-label"
              >{{"signin.Email"|translate}}</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleFormControlInput3"
             
            />
            <div
            class="alert alert-danger"
            [hidden]="email?.valid || email?.untouched"
          >
            <small *ngIf="email?.errors?.['required']"
              >{{"signin.required"|translate}}!
            </small>
            <small *ngIf="email?.errors?.['email']"
              >{{"signin.correct"|translate}}!
            </small>
            <div *ngIf="email?.errors?.['pattern']"
            >  Use Symbols , numbers and small characters{{"signin.correct"|translate}}!
          
            </div>
          </div>
          </div>
  
          <div class="mb-3 p-1">
            <label for="exampleFormControlInput4" class="form-label"
              >{{"signin.Password"|translate}}</label
            >
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleFormControlInput4"
              
            />
            <div
            class="alert alert-danger"
            [hidden]="password?.valid || password?.untouched"
          >
            <small *ngIf="password?.errors?.['required']"
              >{{"signin.Passwordrequired"|translate}}!
            </small>
            <small *ngIf="password?.errors?.['minlength']"
            >At least 7 characters{{"signin.Passwordrequired"|translate}}!
          </small>
          <small *ngIf="password?.errors?.['pattern']"
          >Use Symbols and Small characters{{"signin.Passwordrequired"|translate}}!
        </small>
          </div>
     
          </div>
      
          <button
         
            id="create1"
            type="submit"
            class="btn mb-3 p-1"
            style="width: 100%; height: 70px; color: white; background-color: black;"
           
          >
          {{"signin.CreateAccount"|translate}}
          </button>
         
          <br />
          <div>
            <p style="text-align: center">
              {{"signin.topic"|translate}} <a href="#">{{"signin.here"|translate}}</a>
            </p>
          </div>
      </div>

   
</div>
   
</form>   
  
  
</div>
</div>

      </div>
      <button ></button>
      
      
      
              
      
  
    
  


  
  
  
  






 
  

  