<app-navbar></app-navbar>
<section class="mx-5 pe-md-2 px-xl-5 fixd-width mx-auto">
    <div class=" mt-2   ">
        <span><a class="  text-decoration-none text-dark me-1" href="">{{"Search.Home"|translate}}</a> &gt;
        </span>
        <span>  {{productsOfSearch.length}} {{"Search.RESULTSFOUNDFOR"|translate}} "{{wordOfSearch}}"</span>
    </div>
    <div class=" text-center my-4 ">
        <span class=" border-bottom border-3 border-dark pb-2 px-2 h5 ">{{"Search.Search"|translate}}
        </span>
     </div>
        <div class=" pt-1 pb-3 text-center ">
            <div class="input-group border  w-50 mx-auto shadow-sm mb-2 p-1  ">
                <input type="text" #valueOfSearch class="shadow-none form-control text-center ps-5 ms-4 border-0  rounded-0 "
                    placeholder='{{"Search.Search"|translate}}'>
                <div class="input-group-append">
                    <button class="btn btn-dark rounded-0" type="button"
                        (click)="getDataOfSearch(valueOfSearch.value)">{{"Search.Search"|translate}}</button>
                </div>
            </div>
            <small class=" my-5" *ngIf="productsOfSearch.length<1;else revealedOfSearch" >{{"Search.YourSearchFor"|translate}}"{{wordOfSearch}}"{{"Search.didNotYieldAnyResults"|translate}}</small>
            <ng-template  #revealedOfSearch >{{"Search.YourSearchFor"|translate}}"{{wordOfSearch}}" {{"Search.RevealedTheFollowing"|translate}}</ng-template>
           
        </div>
        <main class="min-vh-100 row  row-cols-2  row-cols-md-3  row-cols-lg-4  gx-2  text-center" >
            <article *ngFor="let product of productsOfSearch" class="col my-4  full-width">
                <a class="nav-link" [routerLink]="['/single',product.id]">
                    <div class="  col-md-11 position-relative ">
                        <span class="dis-icn badge ">{{product.discount}}%</span>
                        <img [src]="product.imgs[0]" class="d-block w-100 " height="300px">
                    </div>
                    <div>
                        <span class="h6 fs-14"> {{product.name}}</span>
                    </div>
                </a>
                <div>
                    <span class="text-danger fs-14 me-1 ">{{product.new_price|currency |Egypt }}</span>
                    <span class="text-decoration-line-through fs-14">{{product.old_price |currency |Egypt }}</span>
                </div>


                <div>
                    <div>
                        <img *ngIf="product.imgs[0]" [src]="product.imgs[0]" height="50px"
                            class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                        <img *ngIf="product.imgs[3]" [src]="product.imgs[3]" height="50px"
                            class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                        <img *ngIf="product.imgs[6]" [src]="product.imgs[6]" height="50px"
                            class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                        <img *ngIf="product.imgs[9]" [src]="product.imgs[9]" height="50px"
                            class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                    </div>

                </div>

            </article>
        </main>
   
</section>