


  <button class="text-white d-md-none bg-black py-2 mb-3 w-100 " >Filter</button>

<aside class=" d-none d-md-block" >

  <div class="accordion accordion-flush " id="accordionFlushExample">
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed border border-1 shadow-sm" type="button"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
          aria-controls="flush-collapseOne">
          Sort
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne">
        <div class="accordion-body border border-1">
         
   
          <div class="form-check">
            <input type="radio" class="form-check-input"    (change)="onSortChange($event.target)" [(ngModel)]="sort"  name="sort" value="high">
            <label for="" class="form-check-label">Price, low to high</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input"  (change)="onSortChange($event.target)" [(ngModel)]="sort"  name="sort" value="low">
            <label for="" class="form-check-label">Price, high to low</label>
          </div>
        
          
          <div class="form-check">
            <input type="radio" class="form-check-input"    (change)="onSortChange($event.target)" [(ngModel)]="sort"  name="sort" value="A-Z">
            <label for="" class="form-check-label">Alphabetically, A-Z</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input"  (change)="onSortChange($event.target)" [(ngModel)]="sort"  name="sort" value="Z-A">
            <label for="" class="form-check-label">Alphabetically, Z-A</label>
          </div>
         
        
          
         <!--  <div class="form-check">
            <input type="checkbox" class="form-check-input" name="" id="">
            <label for="" class="form-check-label"> Date, old to new</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="" id="">
            <label for="" class="form-check-label">Date, new to old</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="" id="">
            <label for="" class="form-check-label">Best Selling</label>
          </div> -->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed border border-1 shadow-sm" type="button"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
          aria-controls="flush-collapseTwo">
          Filter by Color
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
        <div class="accordion-body border border-1">
          <div class="form-check">
            <input type="radio" class="form-check-input" (change)="onSortChange($event.target)" [(ngModel)]="sort" name="sort" value="Black">
            <label for="" class="form-check-label"> Black</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" (change)="onSortChange($event.target)" [(ngModel)]="sort" name="sort" value="Brown">
            <label for="" class="form-check-label" > Brown</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input"  (change)="onSortChange($event.target)" [(ngModel)]="sort" name="sort" value="Burgundy">
            <label for="" class="form-check-label"> Burgundy</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" (change)="onSortChange($event.target)" [(ngModel)]="sort" name="sort" value="Camel">
            <label for="" class="form-check-label"> Camel</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" (change)="onSortChange($event.target)" [(ngModel)]="sort" name="sort" value="Snake">
            <label for="" class="form-check-label"> Snake</label>
          </div>

        </div>
      </div>
    </div>
      

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed border border-1 shadow-sm" type="button"
            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
            aria-controls="flush-collapseThree">
            Categories
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
          <div class="accordion-body border border-1">
            <div class="form-check">
              <input type="radio" class="form-check-input" name="sort" value="Ankle boots">
              <label for="" class="form-check-label">Ankle boots
              </label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="sort" value="Half Boots">
              <label for="" class="form-check-label">  Half Boots</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="sort" value="High Boots">
              <label for="" class="form-check-label"> High Boots</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="" id="">
              <label for="" class="form-check-label"> Flip-Flops</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="" id="">
              <label for="" class="form-check-label"> Sneakers</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="" id="">
              <label for="" class="form-check-label"> Espadrilles</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="" id="">
              <label for="" class="form-check-label">Mules</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="" id="">
              <label for="" class="form-check-label">Slippers</label>
            </div>
          </div>
        </div>
      </div>
    </div>

</aside>