
  <app-navbar></app-navbar>
<section class="mx-5  pe-md-2 px-xl-5 fixd-width mx-auto ">
   
    <aside>
          <div class="h1. mt-2" >
        <span><a class="text-decoration-none text-dark"  href="">HOME</a>  	&gt; </span>
        <span> BUY SHOULDER BAGS ONLINE - DEJAVU EGYPT</span>
    </div>

    <div class=" mb-5 ">
        <h5  class=" text-center mt-5  ">
             <span class=" border-bottom border-4 border-dark pb-2 mb-5 " >Shoulder Bags</span>
        </h5>
    </div>
    </aside>

   <div class="d-flex container-fluid " >
    <div class="col-md-4  col-xl-3  " >
        <h6 class="d-none d-md-block">Remove Filter</h6>
    </div>

    <div class="d-none d-md-block text-start ms-3" >
        <h6 >Shop from our elegant collection of handbags online.</h6>
      </div>

   </div> 

<article class=" d-md-flex container-fluid  " >
  
    <app-sort class="col-md-4  col-xl-3  me-1" ></app-sort>

    <app-products></app-products>
</article>
</section>

