


.dis-icn {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    vertical-align: center;
    font-family: Helvetica;
    font-size:100%;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    line-height: 35px;
    z-index: 4;
    background: #9d0000;
    color: #ffffff;
}

.fs-14{
   font-size: 14px;
}

@media only screen and (max-width: 375px) {
   
    .full-width{
        width: 100%;
    }
  }
