<section [dir]="'dir'|translate ">
    <div id="carouselExampleControls" class="carousel slide mb-4 " data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active  ">
                <div><img src="assets/imges/Dejavu-s1.png" class="d-block w-100 " alt="..."></div>

            </div>
            <div class="carousel-item ">
                <img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/Dejavu_Desktop_Banner_7cbbd2ce-d6c8-44d9-9b51-1d7ab03f8565_1512x.jpg?v=1677527333" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" id="pre" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" id="nex" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="container-fluid ">

        <div id="top">
            <a href="#top">
                <img title="Back to top"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Arrow_up_font_awesome.svg/1200px-Arrow_up_font_awesome.svg.png"
                    alt="arrow up"
                    style="width: 30px; height: 30px; position: fixed; left: 98%; top: 90%; z-index: 1; border-radius: 15px; padding: 5px; transition: .2s; opacity: .5;"
                    mouseover="this.style.scale=1.2; this.style.opacity=.7"
                    mouseleave="this.style.scale=1; this.style.opacity=.8"></a>
        </div>

        <div class="gridlock-fluid mb-5 dv1">
            <div class="row text-center  ">
                <div class="col ">
                    <div class="transimg ">
                        <div class="containerimg">
                            <a [routerLink]="['/products',links[0]]"> <img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/Dejavu-Button-Shoes-Summer-2023-2_daf583a8-d78b-403d-a51d-6b054d3b963a_720x.jpg?v=1680000158"
                                    (click)="AllCategory()" class="w-100 "></a>
                            <div class="centered"> {{"headr.Shoes"|translate}}</div>
                        </div>


                    </div>
                </div>
                <div class="col">
                    <div class="transimg ">
                        <div class="containerimg">
                            <a [routerLink]="['/products', links[1]]"><img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/Dejavu-Button-Bags-Summer-2023-2_9e20f2ae-0e36-4ed4-aea5-050a84c2a675_720x.jpg?v=1680000171"
                                    class="w-100" (click)="AllCategory()"></a>
                            <div class="centered" >{{"headr.Bags"|translate}}</div>
                            <!-- <span class="dv2">Bags</span> -->
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="landing mb-5 pb-3">
            <div class="s1 text-center mb-3 pb-4">
                <h5><a href="#">{{"home.NewCollection"|translate}}</a> </h5>
            </div>

            <div id="caros" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active  ">
                        <div class="row content m-5">
                            <ng-container *ngFor="let prd of AllCat,let i=index" class="col ">
                                <div *ngIf="i>=0&&i<5" class="col ">

                                    <div dir="rtl" dir="rtl" class="ci">
                                        <div class=" text-center circle ">
                                            <span>{{prd.discount}}%</span>
                                        </div>
                                        <a [routerLink]="['/single',prd.id]">
                                            <img [src]="prd.imgs[0]" class="img-fluid ">
                                            <div class="hide">{{"headr.Quick"|translate}}</div>
                                        </a>

                                    </div>
                                    <div class="text-center">
                                        <p >{{lang=='ar'?prd.name_ar:prd.name}}</p>
                                        <div>

                                            <span class="text-danger fs-14 me-1 ">{{prd.new_price|currency|eG}}</span>
                                            <span class="text-decoration-line-through fs-14">{{prd.old_price |currency |eG
                                                }}</span>

                                        </div>
                                    </div>
                                    <div class="ms-4">
                                        <div>
                                            <img *ngIf="prd.imgs[0]" [src]="prd.imgs[0]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[3]" [src]="prd.imgs[3]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[6]" [src]="prd.imgs[6]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[9]" [src]="prd.imgs[9]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="carousel-item  ">
                        <div class="row content  justify-content-center ">
                            <ng-container *ngFor="let prd of AllCat,let i=index" class="col-sm-2 col-xs-1 ">
                                <div *ngIf="i>=0&&i<5" class="col-md-2">
                                    <div dir="rtl" dir="rtl" class="ci">
                                        <div class=" text-center circle ">
                                            <span>{{prd.discount}}%</span>
                                        </div>
                                        <a [routerLink]="['/single',prd.id]">
                                            <img [src]="prd.imgs[0]" class="img-fluid ">
                                            <!-- <div class="hide">{{"headr.Quick"|translate}}</div> -->
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <p>{{lang=='ar'?prd.name_ar:prd.name}}</p>
                                        <div>
                                            <span class="text-danger fs-14 me-1 ">{{prd.new_price|currency |eG}}</span>
                                            <span class="text-decoration-line-through fs-14">{{prd.old_price |currency|eG
                                                }}</span>
                                        </div>
                                    </div>
                                    <div class="ms-4">
                                        <div>
                                            <img *ngIf="prd.imgs[0]" [src]="prd.imgs[0]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[3]" [src]="prd.imgs[3]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[6]" [src]="prd.imgs[6]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            <img *ngIf="prd.imgs[9]" [src]="prd.imgs[9]" height="50px"
                                                class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev " id="pre1" type="button" data-bs-target="#caros"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" id="nex1" type="button" data-bs-target="#caros"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="shop mb-5 pb-3">
            <div class="row">
                <div class="s1 text-center mb-3 pb-4">
                    <h5><a  >{{"home.ShopLook" |translate}}</a> </h5>
                </div>
                <div class="col-sm-12 col-md col-lg">
                    <a >
                        <img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/ShopTheLook-LID-DJTT-054_62b895ae-ea0f-424a-9319-c4bf2bf89199_1200x.jpg?v=1678803538" class="img-fluid ">

                    </a>


                </div>
                <div class="col-sm-12 col-md col-lg">

                    <a >
                        <img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/ShopTheLook-XKK-DVTH-001_1200x.jpg?v=1678803437" class="img-fluid ">
                    </a>
                </div>
                <div class="col-sm-12 col-md col-lg">
                    <a >
                        <img src="https://cdn.shopify.com/s/files/1/0499/3079/7217/files/ShopTheLook-KND4-LID37_1200x.jpg?v=1678804477" class="img-fluid ">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </a>
                </div>

            </div>

        </div>

        <div class="shoes mb-5 pb-3">
            <div class="s1 text-center mb-5 pb-4">
                <h5><a >{{"home.MoreItems"|translate}}</a> </h5>
            </div>
            <div class="row content m-5">

                <div id="caros1" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner ">
                        <div class="carousel-item active  ">
                            <div class="row content m-5">
                                <ng-container *ngFor="let prd of AllCat,let i=index" class="col ">
                                    <div *ngIf="i>=4&&i<=9" class="col ">
                                        <div dir="rtl" dir="rtl" class="ci">
                                            <div class=" text-center circle ">
                                                <span>{{prd.discount}}%</span>
                                            </div>
                                            <a [routerLink]="['/single',prd.id]">
                                                <img [src]="prd.imgs[0]" class="img-fluid ">
                                                <div class="hide">{{"headr.Quick"|translate}}</div>
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <p>{{lang=='ar'?prd.name_ar:prd.name}}</p>
                                            <div>
                                                <span class="text-danger fs-14 me-1 ">{{prd.new_price|currency}}</span>
                                                <span class="text-decoration-line-through fs-14">{{prd.old_price |currency
                                                    }}</span>
                                            </div>
                                        </div>
                                        <div class="ms-4">
                                            <div>
                                                <div>
                                                    <img *ngIf="prd.imgs[0]" [src]="prd.imgs[0]" height="50px"
                                                        class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                    <img *ngIf="prd.imgs[3]" [src]="prd.imgs[3]" height="50px"
                                                        class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                    <img *ngIf="prd.imgs[6]" [src]="prd.imgs[6]" height="50px"
                                                        class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                    <img *ngIf="prd.imgs[9]" [src]="prd.imgs[9]" height="50px"
                                                        class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                </div>
                            
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row content m-5">
                                <ng-container *ngFor="let prd of AllCat,let i=index" class="col-sm-2 col-xs-1 ">
                                    <div *ngIf="i>=4&&i<=9" class="col-md-2">
                                        <div dir="rtl" dir="rtl" class="ci">
                                            <div class=" text-center circle ">
                                                <span>{{prd.discount}}%</span>
                                            </div>
                                            <a [routerLink]="['/single',prd.id]">
                                                <img [src]="prd.imgs[0]" class="img-fluid ">
                                                <div class="hide">{{"headr.Quick"|translate}}</div>
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <p>{{lang=='ar'?prd.name_ar:prd.name}}</p>
                                            <div>
                                                <span class="text-danger fs-14 me-1 ">{{prd.new_price|currency }} </span>
                                                <span class="text-decoration-line-through fs-14">{{prd.old_price |currency
                                                    }}</span>
                                            </div>
                                        </div>
                                        <div class="ms-4">
                                            <div>
                                                <img *ngIf="prd.imgs[0]" [src]="prd.imgs[0]" height="50px"
                                                    class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                <img *ngIf="prd.imgs[3]" [src]="prd.imgs[3]" height="50px"
                                                    class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                <img *ngIf="prd.imgs[6]" [src]="prd.imgs[6]" height="50px"
                                                    class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                                <img *ngIf="prd.imgs[9]" [src]="prd.imgs[9]" height="50px"
                                                    class="col-2 shadow-sm border border-1 rounded-2 ms-1" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev " id="pre2" type="button" data-bs-target="#caros1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" id="nex2" type="button" data-bs-target="#caros1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>


        <div class="blogs mb-3 pb-2">
            <div class="s1 text-center mb-5 pb-4">
                <h5><a >{{"home.Blog"|translate}}</a> </h5>
            </div>

            <div class="row content m-5">
                <div class="col-sm-12 col-md-3 col-lg ">
                    <div class="mb-3 bogtrans">
                        <a >
                            <img src="assets/imges/SH_DEJAVU_1_22234_PRD17-LID77_540x.png" height="300px" width="100%">
                        </a>
                    </div>
                    <div class="text-center">
                        <h5>{{'home.thtitle'|translate}}</h5>
                        <p>{{'home.firstblog'|translate}}...<a href="#">{{"home.read"|translate}}</a></p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>{{'home.fpost'|translate}}</p>
                        <a>{{'home.flink'|translate}}</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg">
                    <div class="mb-3 bogtrans">
                        <a >
                            <img src="assets/imges/STILL_LIFE_DEJAVU1662_540x.png" height="300px" width="100%">
                        </a>
                    </div>
                    <div class="text-center">
                        <h5>{{'home.titleone'|translate}}</h5>
                        <p>{{'home.secondblog'|translate}}... <a href="#">{{'home.read'|translate}}</a>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>{{'home.spost'|translate}}</p>
                        <a>{{'home.slink'|translate}}</a>

                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg">
                    <div class="mb-3 bogtrans">
                        <a >
                            <div>
                                <img src="assets/imges/Summer-Trends-Shoes-Bags-Women_12503ea9-9361-4ba1-bab1-a5a2c0127c40_540x.png"
                                    height="300px" width="100%">
                            </div>

                        </a>
                    </div>
                    <div class="text-center">
                        <h5>{{'home.titetwo'|translate}}</h5>
                        <p>{{'home.thblog'|translate}}</p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>{{'home.tpost'|translate}}</p>
                        <a>{{"headr.Bags"|translate}}</a> <a href="#"> {{"headr.Shoes"|translate}}</a><a href="#"> {{"home.tlink"|translate}}</a>
                    </div>

                </div>


            </div>

        </div>


        <div class="mb-1">
            <img src="assets/imges/Sympl.png " class="img-fluid ">
        </div>




    </section>

</section>
