<section class=" bg-header ">
    <aside>
        <div class=" d-none  d-md-flex   align-items-center  justify-content-evenly p-2  fixd-width m-auto  ">

            <div><a class="nav-link text-white p-1  " href="">{{"policy.p1"|translate}}</a></div>
            <div><a class="nav-link text-white p-1  " href="">{{"policy.p2"|translate}}</a></div>
        </div>

        <div id="text-header" class="carousel slide d-md-none " data-bs-ride="carousel">
            <div class="carousel-inner bg-header">
                <div class="carousel-item active">
                    <div><a class="nav-link text-white  bg-header text-center  p-2  " href="">{{"policy.p3"|translate}}</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div><a class="nav-link text-white bg-header text-center  p-2   " href="">{{"policy.p4"|translate}}</a></div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#text-header" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden fs-5">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#text-header" data-bs-slide="next">
                <span class="carousel-control-next-icon fs-5" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </aside>
</section>