<article class="col">
    <div class="position-relative">
        <span class="position-absolute top-0 end-0  p-2 bg-danger  rounded-circle  fw-semibold text-white">30%</span>
    </div>

    <a href="./oneProduct.html" class="nav-link">
        <div class="  col-md-11">
            <img src="./bags/LID-DVTH-001-CAMEL_1_large.webp" class="d-block w-100">

        </div>


        <div>
            <span class="h5"> GPS-DVTH-043</span>
        </div>
    </a>
    <div>
        <span class="text-danger fs-5 ">LE 699.00</span>
        <span class="text-decoration-line-through">LE 999.00</span>
    </div>

    <div>
        <img src="./bags/LID-DVTH-001-CAMEL_2_1024x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2" alt="">
        <img src="./bags/LID-DVTH-001-CAMEL_2_1024x.webp" class="col-2 shadow-sm border border-1 rounded-2 m-2" alt="">

    </div>

</article>