 <div class="d-block">{{dataProfile.lastname}}</div>
<h1>Account</h1>
<div class="container"  >
 
    <div class="list p-3" >

        <ul class="p-3 m-1" >
            <li><a class="nav-link active" routerLink="/user" >ACCOUNT DETAILS</a></li> 
            
            <li><a href="#">ORDER HISTORY</a></li>
            <li><a href="#">VIEW ADDRESSES (1)</a></li>
            <li><a href="/login" (click)="Logout()">LOGOUT</a></li>
          
       
        </ul>
        
        </div>
        <div class="vr" style="width: 3px; height: 40vh;"></div>
</div>
 