/* You can add global styles to this file, and also import other style files */

body {
    color: #000000;
    font-size: 12px;
    font-family:  Helvetica, Arial, sans-serif;
}

@media only screen and (min-width:1600px) {
   
    .fixd-width{
        width:1600px;
    }
  }

  @media only screen and (max-width: 485px) {
   
    body {
        font-size: .7em;
        font-family:  Helvetica, Arial, sans-serif;
    }
   
  }