<!-- Reactive form -->
<section class="container-fluid mb-5">
  <div class="row">
    <section class="col-7 pe-5">
      <div class="left-side">
        <div>
          <h1 [routerLink]="">{{"checkout.dejavu"|translate}}</h1>
        </div>
        <section class="font-routes">
          <span class="pointer" (click)="GoToCart()">{{"checkout.Cart"|translate}}</span>
          <span class="mx-2">></span>
          <span>{{"checkout.Information"|translate}}</span>
          <span class="mx-2">></span>
          <span>{{"checkout.Shipping"|translate}}</span>
          <span class="mx-2">></span>
          <span>{{"checkout.Payment"|translate}}</span>
        </section>
        <form [formGroup]="userForm" method="post">
        <div class="row mt-3">
            <div class="col-6 text">{{"checkout.Contact"|translate}}</div>
            <div class="col-6 mt-2">{{"checkout.Already"|translate}}<span class="login">{{"checkout.Log"|translate}}</span></div>
        </div>
        <div class="col-12">
          <input type="email" class="form-control requiredField my-2" id="inputEmail" autofocus placeholder="Email" formControlName="email">
          <div class="text-danger" [hidden]="email?.valid || email?.untouched">{{"checkout.Enter"|translate}} </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input checkbox restField" type="checkbox" id="gridCheck">
            <label class="form-check-label mt-1" for="gridCheck">
              {{"checkout.Email"|translate}}
            </label>
          </div>
        </div>
        <div class="text mt-5">{{"checkout.Shippingaddress"|translate}}</div>
        <select class="form-select my-2 restField" id="validationTooltip04">
          <option class="select" selected disabled>{{"checkout.Country/Region"|translate}}</option>
        </select>
        <div class="row mt-3">
          <div class="col-6">
            <input type="text" class="form-control requiredField" id="inputEmail4" placeholder="First-name" formControlName="firstName">
            <div class="text-danger" [hidden]="firstName?.valid || firstName?.untouched">{{"checkout.EnterFirst"|translate}}</div>
          </div>
          <div class="col-6">
            <input type="text" class="form-control requiredField" id="inputPassword4" placeholder="Last-name" formControlName="lastName">
            <div class="text-danger" [hidden]="lastName?.valid || lastName?.untouched">{{"checkout.EnterLast"|translate}}</div>
          </div>
        </div>
        <div class="col-12 my-3">
          <input type="text" class="form-control requiredField" id="inputAddress" placeholder="Address" formControlName="address" #address1 >
          <div class="text-danger" [hidden]="address?.valid || address?.untouched">{{"checkout.EnterAddress"|translate}}</div>
        </div>
        <div class="col-12 my-3">
          <input type="text" class="form-control restField" id="inputAddress2" placeholder="Apartment, suite, etc. (option)">
        </div>
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control requiredField" id="inputCity" placeholder="City" formControlName="city" #city1>
            <div class="text-danger" [hidden]="city?.valid || city?.untouched">{{"checkout.EnterCity"|translate}}</div>
          </div>
          <div class="col-4">
            <select id="inputState" class="form-select restField">
              <option selected>{{"checkout.Governorate"|translate}}</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-4">
            <input type="text" class="form-control restField" id="inputZip" placeholder="Postal code">
          </div>
          <div class="col-12 my-3">
            <input type="text" class="form-control requiredField" id="inputAddress" placeholder="Phone" formControlName="phone"
            [class.is-valid]="phone?.valid" [class.is-invalid]="phone?.invalid">
            <div class="text-danger" [hidden]="phone?.valid || phone?.untouched">{{"checkout.Entervalidphon"|translate}}</div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input checkbox restField" type="checkbox" id="gridCheck">
              <label class="form-check-label mt-1" for="gridCheck">
                {{"checkout.Savetime"|translate}}
              </label>
            </div>
          </div>
          <div class="row mt-3">
              <div class="col mt-3">
                <a class="text-decoration-none">
                  <span class="text-secondary pointer">  {{"checkout.Returncart"|translate}}</span>
                </a>
              </div>
              <div class="col-4">
                <button class="btn btn-dark rounded px-3 py-3" [disabled]="userForm.invalid" (click)="GoToShipping(address1.value,city1.value)">{{"checkout.ContinueShipping"|translate}}</button>
              </div>
          </div>
        </div>
      </form>
      </div>
    </section>

    <!-- right side -->
    <section class="col">
      <div class="right-size">
        <ng-container *ngFor="let product of productsOfCheckout">
        <div class="row pt-5 ps-5 pb-3">
          <div class="col-2 position-relative">
            <img class="image" src="{{product.img}}" width="100" height="100" alt="">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{product.quantity}}</span>
          </div>
          <div class="col-6 pt-4">
            <span class="prodName">{{product.name}}</span>
            <p>{{product.color}} / {{product.size}}</p>
          </div>
          <div class="col pt-4 prodPrice">
            <p>E£ {{product.totalPrice}}.00</p>
          </div>
        </div>
      </ng-container>
      <hr>
      
        <!-- <div class="row">
        <div class="col-9 ps-5">
          <input type="text" class="form-control" name="discount" placeholder="Discount code">
        </div>
        <div class="col">
          <button class="btn btn-secondary">{{"checkout.Apply"|translate}}</button>
        </div>
        </div> -->
        <!-- <div class="row pt-4 ps-4">
          <div class="col-9 ps-4">
            <h6>{{"checkout.Subtotal"|translate}}</h6>
          </div>
          <div class="col ps-2">
            <p class="prodPrice">E£{{totalPriceOfCart}}.00</p>
          </div>
        </div> -->
             <!-- <div class="row ps-4">
          <div class="col-9 ps-4">
            <h6>{{"checkout.Total"|translate}}</h6>
          </div>
     <div class="col ps-4">
            <p class="prodPrice">E£25.00</p>
          </div>
        </div> -->
        <div class="row ps-4 pt-1">
          <div class="col-9 ps-4">
            <h6>{{"checkout.Total"|translate}}</h6>
          </div>
          <div class="col ps-4">
            <h5>E£{{totalPriceOfCart}}.00</h5>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
